<a href="https://colab.research.google.com/github/PedroIsac564/data_science_aulas/blob/main/Aulas_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python -V

Python 3.10.12

**Dia 1**

In [ ]:
# Dia 1
print("Hello World!")

Hello World!

**Dia 2**

In [ ]:
# Dia 2
noticia = 'Em nota oficial (leia completa abaixo) divulgada nesta terça-feira (12), a defesa do atacante Bruno Henrique, do Flamengo, informou que protocolou no último sábado (9) um pedido de arquivamento das investigações por suposta manipulação de resultados em partida do Brasileirão 2023, além da devolução dos bens do atleta que foram apreendidos.'

print(noticia)

contador = 0

i = noticia.split(' ')
for i in i:
    if i == 'do':
        contador = contador + 1

print('Nesta noticia tem ' + str(contador) + ' "do" separados em toda a noticia.' )

Em nota oficial (leia completa abaixo) divulgada nesta terça-feira (12), a defesa do atacante Bruno Henrique, do Flamengo, informou que protocolou no último sábado (9) um pedido de arquivamento das investigações por suposta manipulação de resultados em partida do Brasileirão 2023, além da devolução dos bens do atleta que foram apreendidos.
Nesta noticia tem 4 "do" separados em toda a noticia.

In [ ]:
# Código para verificar a versão do Python
!python -V

Python 3.10.12

# Tipo de dado

In [ ]:
# Para verficar o tipo do dado
print(type(5))
print(type(10.0))
print(type('Python'))
print(type('W'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

# Tipagem dinâmica

In [ ]:
#Ex de tipagem dinâmica
x = 10 # x é um inteiro
print(x)
print(type(x))

x = 'Hello' # x é um texto(é uma string)
print(x)
print(type(x))

10
<class 'int'>
Hello
<class 'str'>

# Operações matemáticas

In [ ]:
#Soma
print(4 + 4)

#Subtração
print(5 - 3)

#Multiplicação
print(5 * 3)

#Divisão
print(20 / 5)

#Potenciação
print(3**3)

#Módulo = Serve para ver se o numero é impar ou par(se for 1: numero impar; se for 0: numero par)
print(17 % 2)

#if n % 2 == 0

#Round = Serve para considerar 'n' casas após a vírgula
print(round(10.23743,3))

#Pow = Eleva o número pelo o número da direita
print(pow(2,3))

8
2
15
4.0
27
1
10.237
8

# Variáveis

In [ ]:
#Com variáveis
velocidade = 10
tempo = 5
distancia = velocidade * tempo
resultado = velocidade * 10

print(velocidade)
print(tempo)








# Começe os nomes com uma letra ou underline(_)
_nome = 'Pedro'
idade = 30

#
#

# Seja descritivo ou significativo nos nomes
idade_do_usuario = 30

# Maiúsculo serve para criar constantes
PI = 3,14

10
5
Campinas
Valinhos
Vinhedo
Campinas Valinhos Vinhedo
Campinas Valinhos Vinhedo
São Paulo
Rio de Janeiro
Belo Horizonte

# "Exercicio"

In [ ]:
cityEnd1 = 'Campinas'
cityEnd2 = 'Valinhos'
cityEnd3 = 'Vinhedo'

print(cityEnd1)
print(cityEnd2)
print(cityEnd3)

print(cityEnd1 , cityEnd2 , cityEnd3)
print(cityEnd1 + " " + cityEnd2 + " " + cityEnd3)

city1, city2, city3 = "São Paulo", "Rio de Janeiro", "Belo Horizonte"
print(city1)
print(city2)
print(city3)

Campinas
Valinhos
Vinhedo
Campinas Valinhos Vinhedo
Campinas Valinhos Vinhedo
São Paulo
Rio de Janeiro
Belo Horizonte

In [ ]:
velocidade = 10
tempo = 5
distancia = velocidade * tempo
resultado = velocidade * 10
velocidade + (4 * resultado) - distancia

360

In [ ]:
# Concatenando variavel
pNome = 'Pedro'
sNome = 'Isac'
tNome = 'de'
qNome = 'Souza'

nomeCompleto = pNome + " " + sNome + " " + tNome + " " + qNome

print(nomeCompleto)
print(type(nomeCompleto))

Pedro Isac de Souza
<class 'str'>

# **1)** Crie um programa que armazene o seu nome em uma variável e, em seguida, imprima uma  mensagem de saudação personalizada.

In [ ]:
nome = 'Pedro'

print("Olá " + nome + ", como vai?")

Olá Pedro, como vai?

# **2)** Crie um programa que armazene dois números em variáveis e imprima a soma desses  números

In [ ]:
numero1 = 7
numero2 = 17

print(numero1 + numero2)

24

# **3)** Crie um programa que armazene uma mensagem inicial e outra final em variáveis. Em  seguida, imprima a mensagem concatenada.

In [ ]:
msg1 = "Feliz"
msg2 = "Aniversário!"

print(msg1 + " " + msg2)

Feliz Aniversário!

# **4)** Uma agência de viagens pretende realizar um voo para as Bahamas. O custo de operação do  avião é de 5.000 dólares. Até o momento, 29 pessoas se inscreveram para a viagem. Se a  agência cobra 200 dólares por passagem, qual será o lucro obtido pela empresa? Crie  variáveis para representar cada quantidade numérica e utilize operações aritméticas  apropriadas.

In [ ]:
operacaoAv = 5000
pessoas = 29
passagem = 200

resultado = pessoas * passagem - operacaoAv

print("A empresa lucrará " + str(resultado) + " de dólares, junto com " + str(operacaoAv) + " para realizar a operação.")

A empresa lucrará 800 de dólares, junto com 5000 para realizar a operação.

# **5)** Na Escola Senai, a turma de Informática está organizando um evento online. Eles decidiram  vender camisetas personalizadas para arrecadar fundos. Cada camiseta custa 25 reais, e a  turma planeja vender 50 camisetas. Crie um programa simples em Python que utilize  variáveis para representar o preço da camiseta, a quantidade planejada de camisetas para  venda e calcule o total arrecadado pela turma. Em seguida, imprima o resultado.

In [ ]:
camisetas = 25
camisetas_vender = 50
resultado = camisetas * camisetas_vender

print("O total arrecadado pela turma é R$" + str(resultado) + ",00")

O total arrecadado pela turma é R$1250,00

# **Dia 3**

In [ ]:
# Declarar uma string
dia_da_semana = 'segunda'
mes = 'janeiro'

print(dia_da_semana)
print(mes)

segunda
janeiro

In [ ]:
# Método len(de Length) para ver quantas letras tem na palavra
dia_da_semana = 'segunda'
mes = 'janeiro'

print(len(dia_da_semana))
print(len(mes))

7
7

In [ ]:
# Pegando uma letra ou pedaço da palavra da variavel
dia_da_semana = 'segunda'

#primeira letra da string
print(dia_da_semana[0])

#ultima letra da string
print(dia_da_semana[-1])

#pedaço do texto
print(dia_da_semana[0:4])

s
a
segu

In [ ]:
# Concatenando
dia_da_semana = 'segunda'

#juntar texto
print(dia_da_semana + ' é tristeza!!!')

segunda é tristeza!!!

In [ ]:
dia_da_semana = 'Segunda A dosodo 0000000'

# deixar em minuscula
print(dia_da_semana.lower())

# deixar em maiúscula
print(dia_da_semana.upper())

# deixar só a primeira letra maiúscula
print(dia_da_semana.capitalize())

# lembrando que esses metodos não alteram a variável (só no print)
print(dia_da_semana)

segunda a dosodo 0000000
SEGUNDA A DOSODO 0000000
Segunda a dosodo 0000000
Segunda A dosodo 0000000

In [ ]:
#Replace COM LOWER para mudar a frase o resultado no print

frase = 'SegunDa é Triste!'
frase = frase.lower()
print(frase)

print(frase.replace('segun', 'bala').replace('triste', 'top'))

'''-------------------------------------------------------------------- '''
#Replace COM UPPER para mudar a frase o resultado no print

frase = 'SegunDa é Triste!'
frase = frase.upper()
print(frase)

print(frase.replace('SEGUN', 'BALA').replace('TRISTE', 'TOP'))

SEGUNDA É TRISTE!
BALADA É TOP!

In [ ]:
frase = 'A segunda acabou!'
print(frase.lower().count('a'))

4

In [ ]:
# Quebrar texto

frase = 'A segunda acabou!'

print(frase)
print(type(frase))

#Aqui ele acaba virando uma lista(Array), adicionando todas as palavras separadamente
frase_split = frase.split()
print(frase_split)
print(type(frase_split))

A segunda acabou!
<class 'str'>
['A', 'segunda', 'acabou!']
<class 'list'>

In [ ]:
# Quebrar texto

frase = '    A segunda acabou!     '

print(frase)
print(type(frase))

#Aqui ele acaba virando uma lista(Array), adicionando todas as palavras separadamente
frase_split = frase.split()
print(frase_split)
print(type(frase_split))
print('-------------------------')

#remover espaço no inicio e no final
frase_strip = frase.strip()
print(frase_strip)
frase_strip = frase_strip.split(' ')
print(frase_split)
print(type(frase_split))

    A segunda acabou!
<class 'str'>
['A', 'segunda', 'acabou!']
<class 'list'>
-------------------------
A segunda acabou!
['A', 'segunda', 'acabou!']
<class 'list'>

In [ ]:
#Serve para quebrar a linha do texto com \
print('O texto começa na primeira linha \\n continua na segunda linha')

#Para aparecer o '\' no texto como string apenas escreva mais uma('\\')
print("\\n")
print("\n")
print("\n")

print('Pulei três linhas')

O texto começa na primeira linha \n continua na segunda linha
\n




Pulei três linhas

#**Concatenação de strings**

In [ ]:
nome = "Pedro"
idade = 18
print("Olá, " + nome + "! Você tem " + str(idade) + " anos.")

Olá, Pedro! Você tem 18 anos.

# **Formatação de strings com % **negrito**

In [ ]:
nome = "Pedro"
idade = 18
print("Olá, %s! Você tem %d anos." % (nome, idade))

Olá, Pedro! Você tem 18 anos.

# **Método format()**

In [ ]:
nome = "Pedro"
idade = 18
print("Olá, {}! Você tem {} anos.".format(nome, idade))

Olá, Pedro! Você tem 18 anos.

# **F-strings (Format Strings)**

In [ ]:
nome = "Pedro"
idade = 18
print(f"Olá, {nome}! Você tem {idade} anos.")

Olá, Pedro! Você tem 18 anos.

# **Print e input**

In [ ]:
nome = input("Digite seu nome: ")
print(f"Olá, {nome}! Seja Bem-vindo.")

Digite seu nome: Isac
Olá, Isac! Seja Bem-vindo.

Desafio

In [ ]:
frase1 = input("Digite qualquer frase: ")
print(f"a ultima letra é: {frase1[-1]}")

frase2 = input("Digite outra frase qualquer: ")
print(f"a ultima letra é: {frase2[-1]}")

Digite qualquer frase: mercenario doidao
a ultima letra é: o
Digite outra frase qualquer: parapeito do predio é alto igual meu pai
a ultima letra é: i

desafio 2

In [ ]:
nome = input("Digite seu primeiro nome: ")
sobrenome = input("Digite agora o sobrenome: ")
nome_completo = nome + ' ' + sobrenome

print(nome_completo)

Digite seu primeiro nome: Pedro
Digite agora o sobrenome: Isac
Pedro Isac

desafio 3

In [ ]:
frase = input(f'Digite uma frase: ')
nova_palavra = input(f'Palvra nova: ')
antiga_palavra = input(f'Palvra antiga: ')

print(frase)
print("-------------")
print(frase.replace(antiga_palavra , nova_palavra))

Digite uma frase: Java é a minha linguagem favorita
Palvra nova: Python
Palvra antiga: Java
Java é a minha linguagem favorita
-------------
Python é a minha linguagem favorita

desafio 4

In [ ]:
num1 = input("Numero 1: ")
A = num1
num2 = input("Numero 2: ")
B = num2

resultado = (A + B)
print(resultado)

Numero 1: 50
Numero 2: 50
5050

In [ ]:
A = int(input("Valor A: "))
B = int(input("Valor B: "))

resultado = (A + B)
print(resultado)

Valor A: 972
Valor B: 458
1430

In [ ]:
nome_vendedor = input("Informe seu nome: ")
salario_fixo = float(input("informe seu salário fixo: "))
total_vendas = float(input("e por fim, escreva o total de vendas efetuadas por você no mês(em dinheiro): "))

comissao = 0.15 * total_vendas
valor_total = comissao + salario_fixo
print(f"Então Sr.{nome_vendedor}, o valor total de quanto o senhor deverá ganhar ao final do mês é: R${valor_total}")

Informe seu nome: pedro
informe seu salário fixo: 1000
e por fim, escreva o total de vendas efetuadas por você no mês(em dinheiro): 1000
Então Sr.pedro, o valor total de quanto o senhor deverá ganhar ao final do mês é: R$1150.0

In [ ]:
string = "Então Sr.Pedro, o valor total de quanto o senhor deverá ganhar ao final do mês é: R$1500.00"
print(len(string))

91

In [ ]:
string = "Bom dia, Pythonista!"
print(string.lower())

bom dia, pythonista!

In [ ]:
texto = " Python é uma linguagem de programação poderosa. "
print(texto)
print("-----------------------------------------")

texto = texto.lower()
texto_strip = texto.strip()
texto_strip = texto.replace("poderosa" , "versátil")
print(texto_strip)

'''--------------------------------------------'''
#Jeito mais facil de fazer

texto = " Python é uma linguagem de programação poderosa. "
texto_tratado = texto.strip().lower().replace("poderosa", "versátil")
print(texto_tratado)

 Python é uma linguagem de programação poderosa.
-----------------------------------------
 python é uma linguagem de programação versátil.

In [ ]:
#Declarar uma list
frutas = ['banana', 'uva', 'manga']

print(frutas)
print(frutas[0])
print('----------')
print(frutas[2])
print(type(frutas))

['banana', 'uva', 'manga']
banana
----------
manga
<class 'list'>

In [ ]:
#desclarar outros tipos na lista
a_lista = ['banana', None, 'uva', 'Goiaba', 4==4]
print(a_lista)

['banana', None, 'uva', 'Goiaba', True]

In [ ]:
#colocar uma lista em outra lista
a_lista = [23, None, 3.14, frutas, 3 <= 5]
print(a_lista)
print(a_lista[0])
print(a_lista[3][2])

[23, None, 3.14, ['banana', 'uva', 'manga'], True]
23
manga

In [ ]:
#Criando uma matriz 3x3
matriz = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriz)
print(type(matriz))

#Acessando elementos da matriz
print(matriz[0][0])
print(matriz[1][2])

matriz[0][0] = 10
matriz[1][2] = 'a'

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
1
6

In [ ]:
#declarar lista vazia
lista_vazia = []

print(lista_vazia)

[]

In [ ]:
#utilizar o len

print(len(lista_vazia))
print('-----------')
print(len(frutas))

0
-----------
3

In [ ]:
#pegar pedaco da lista

print(a_lista)
print('\n')
print(a_lista[:2])
print('\n')
print(a_lista[2:4])

[23, None, 3.14, ['banana', 'uva', 'manga'], True]


[23, None]


[3.14, ['banana', 'uva', 'manga']]

In [ ]:
#Um novo valor também pode ser inserido em um indice especifico usando o metodo insert
frutas.insert(1, 'abaxaqui')

print(frutas)

['banana', 'abaxaqui', 'melão', 'uva', 'manga']

# **Importante**

In [ ]:
#Existe o append também para inserir(mas sempre no final)
frutas.append('maça')

print(frutas)

['banana', 'abaxaqui', 'melão', 'uva', 'manga', 'maça']

In [ ]:
fruta_adicionais = ["caju", "morango", "abacaxi"]
frutas.extend(fruta_adicionais)
print(frutas)

['banana', 'abaxaqui', 'uva', 'manga', 'maça', 'caju', 'morango', 'caju', 'morango', 'abacaxi', ['abacaxi', 'pera'], 'caju', 'morango', 'abacaxi', 'caju', 'morango', 'abacaxi']

In [ ]:
frutas.append(["abacaxi", "pera"])
print(frutas)

['banana', 'abaxaqui', 'uva', 'manga', 'maça', 'caju', 'morango', 'caju', 'morango', 'abacaxi', ['abacaxi', 'pera']]

In [ ]:
#Criando uma lista
numeros = [1,2,3,4,3,5]

#Removendo o numero 3 da lista
numeros.remove(3)

print(numeros)

[1, 2, 4, 3, 5]

In [ ]:
#existe o pop para remover também
print(frutas)
fruta_removida = frutas.pop()
print(frutas)
print(fruta_removida)

['banana', 'abaxaqui', 'uva', 'manga', 'maça', 'caju', 'morango', 'abacaxi']
['banana', 'abaxaqui', 'uva', 'manga', 'maça', 'caju', 'morango']
abacaxi

In [ ]:
print(frutas)

['banana', 'abaxaqui', 'uva', 'manga', 'maça', 'caju', 'morango', 'caju', 'morango', 'abacaxi', ['abacaxi', 'pera']]

In [ ]:
#Junta listas
mais_frutas = frutas + ['morango'] + ['goiaba', 'tangerina']
print(mais_frutas)

['banana', 'abaxaqui', 'uva', 'manga', 'maça', 'caju', 'morango', 'caju', 'morango', 'abacaxi', ['abacaxi', 'pera'], 'caju', 'morango', 'abacaxi', 'caju', 'morango', 'abacaxi', 'morango', 'goiaba', 'tangerina']

In [ ]:
#Para criar uma cópia de  uma lista, use o método copy.
mais_frutas_copia = mais_frutas.copy()
print(mais_frutas_copia)

#Modificar lista
mais_frutas_copia.remove('goiaba')
mais_frutas_copia.pop()
print(mais_frutas_copia)
print(mais_frutas)

['banana', 'abaxaqui', 'uva', 'manga', 'maça', 'caju', 'morango', 'caju', 'morango', 'abacaxi', ['abacaxi', 'pera'], 'caju', 'morango', 'abacaxi', 'caju', 'morango', 'abacaxi', 'morango', 'goiaba', 'tangerina']
['banana', 'abaxaqui', 'uva', 'manga', 'maça', 'caju', 'morango', 'caju', 'morango', 'abacaxi', ['abacaxi', 'pera'], 'caju', 'morango', 'abacaxi', 'caju', 'morango', 'abacaxi', 'morango']
['banana', 'abaxaqui', 'uva', 'manga', 'maça', 'caju', 'morango', 'caju', 'morango', 'abacaxi', ['abacaxi', 'pera'], 'caju', 'morango', 'abacaxi', 'caju', 'morango', 'abacaxi', 'morango', 'goiaba', 'tangerina']

# **Site para estudar 'Métodos de Lista'** [https://www.w3schools.com/python/python_ref_list.asp](https://www.w3schools.com/python/python_ref_list.asp)

# **Exercicio**

In [ ]:
cidades_sul = ['Curitiba', 'Florianópolis', 'Porto Alegre']
cidades_norte = ['Manaus', 'Belém', 'Macapá']
cidades_norte.extend(cidades_sul)

print(cidades_norte)

['Manaus', 'Belém', 'Macapá', 'Curitiba', 'Florianópolis', 'Porto Alegre']

In [ ]:
cidades_sul = ['Curitiba', 'Florianópolis', 'Porto Alegre']
cidades_norte = ['Manaus', 'Belém', 'Macapá']
cidades_norte_sul = cidades_sul + cidades_norte
print(cidades_norte_sul)

['Curitiba', 'Florianópolis', 'Porto Alegre', 'Manaus', 'Belém', 'Macapá']

In [ ]:
numeros = [10,20,30,40,20,50,60,40]
print(numeros)
#Set remove coisas duplicadas e acaba transformando em um dicionario que nao usa []conchetes, mas sim {}chaves
m_set = set(numeros)
#para transformar em lista denovo
listab = list(m_set)
print(listab)
#Organizar a lista em ordem crescente
print(sorted(listab))

[10, 20, 30, 40, 20, 50, 60, 40]
[40, 10, 50, 20, 60, 30]
[10, 20, 30, 40, 50, 60]

In [ ]:
linguagem = ['P', 'Y', 'T', 'H', 'O', 'N']
#junte todos os itens de uma tupla em uma string, usando um caractere hash como separador
palavra = "".join(linguagem)
print(palavra)

PYTHON

In [ ]:
numeros = [1, 3, 5, 7, 9]

print(1 * numeros[0] * numeros[1] * numeros[2] * numeros[3] * numeros[4])

945

In [ ]:
numeros = [1, 3, 5, 7, 9]

resultado = 1
resultado *= numeros[0]
print(resultado)

In [ ]:
numeros = [1, 3, 5, 7, 9]

resultado = 1
resultado *= numeros[0]
resultado *= numeros[1]
resultado *= numeros[2]
resultado *= numeros[3]
resultado *= numeros[4]

print(resultado)

945

In [ ]:
cores = ["vermelho", "azul", "verde", "amarelo", "roxo"]
cor_excluida = cores.pop(1)
print(cores)
print(cor_excluida)

['vermelho', 'verde', 'amarelo', 'roxo']
azul

In [ ]:
cores = ["vermelho", "azul", "verde", "amarelo", "roxo"]
cores.remove('azul')
print(cores)

['vermelho', 'verde', 'amarelo', 'roxo']

In [ ]:
frutas = ["maçã", "banana", "laranja", "morango"]
frutas.append("uva")
print(frutas)

['maçã', 'banana', 'laranja', 'morango', 'uva']

In [ ]:
nomes = ["Alice", "Bob", "Charlie", "David"]
print(nomes)

['Alice', 'Bob', 'Charlie', 'David']

# **Usando a estrutura if**

In [ ]:
nomes = ["Alice", "Bob", "Charlie", "David"]
if "Alice" in nomes:
  print("O nome Alicia tem na lista")
else:
  print("Não existe esse nome")

O nome Alicia tem na lista

# **Não usando a estrutura if**

In [ ]:
nomes = ["Alice", "Bob", "Charlie", "David"]

existe = "Alice" in nomes

print(existe)

True

# **Declarando um dicionario**

In [ ]:
#declarando o dicionario
pessoa1 = {
    'nome' : 'Pedro Isac',
    'sexo' : 'Macho',
    'idade' : '18',
    'casado' : 'Obvio amo a Paola',
}

print(pessoa1)

{'nome': 'Pedro Isac', 'sexo': 'Macho', 'idade': '18', 'casado': 'Obvio amo a Paola'}

# **Declarando de outra forma um dicionario**

In [ ]:
#usar a função dict
pessoa2 = dict(nome="Pedro", sexo="Macho", idade=18, casado="Sim, com a Paola. Mais respeito pfv")

print(pessoa2)

{'nome': 'Pedro', 'sexo': 'Macho', 'idade': 18, 'casado': 'Sim, com a Paola. Mais respeito pfv'}

In [ ]:
pessoa1 = {
    'nome' : 'Pedro Isac',
    'sexo' : 'Macho',
    'idade' : '18',
    'casado' : 'Obvio amo a Paola',
}
print(pessoa1['idade'] + " anos e " + pessoa1['sexo'])

18 anos e Macho

In [ ]:
dict1 = {}
print(dict1)
#usa o [] para add
dict1['chave'] = 'não esta mais vazio'
print(dict1)

{}
{'chave': 'não esta mais vazio'}

# **Dicionarios com lista**

In [ ]:
dict2 ={'Pessoa1': ['willian', 30, 'Professor'],
        'Pessoa2': ['pedro', 18, 'Medico']}
print(dict2)
print(dict2['Pessoa1'][0])

{'Pessoa1': ['willian', 30, 'Professor'], 'Pessoa2': ['pedro', 18, 'Medico']}
willian

In [ ]:
pessoa = {
    'nome': 'Pedro',
    'idade': 18,
    'endereco': {
        'rua':'Rua Francisco Fernandes Mendes',
        'cidade': 'Campinas',
        'estado': 'São Paulo'
    }
}

print("Nome: ", pessoa['nome'])
print("Idade: ", pessoa['idade'])
print("Endereço: ", pessoa['endereco']['rua'], "de", pessoa['endereco']['cidade'])

Nome:  Pedro
Idade:  18
Endereço:  Rua Francisco Fernandes Mendes de Campinas

# **importante - métodos**

In [ ]:
pessoa = {
    'nome': 'Pedro',
    'idade': 18,
    'endereco': {
        'rua':'Rua Francisco Fernandes Mendes',
        'cidade': 'Campinas',
        'estado': 'São Paulo'
    }
}

#Alterar a informação já criada
pessoa['idade'] = 17

#adicionar um novo campo e chave
pessoa['Nacionalidade'] = 'Brasileiro'

print(pessoa)
#Para remover uma chave e o valor associado de um dicionario, use o método pop

pessoa.pop('Nacionalidade')
print(pessoa)

#os dicionarios também fornecem métodos para vizualizar a lista
print(pessoa.keys())

print(pessoa.values())
print(pessoa.items())

{'nome': 'Pedro', 'idade': 17, 'endereco': {'rua': 'Rua Francisco Fernandes Mendes', 'cidade': 'Campinas', 'estado': 'São Paulo'}, 'Nacionalidade': 'Brasileiro'}
{'nome': 'Pedro', 'idade': 17, 'endereco': {'rua': 'Rua Francisco Fernandes Mendes', 'cidade': 'Campinas', 'estado': 'São Paulo'}}
dict_keys(['nome', 'idade', 'endereco'])
dict_values(['Pedro', 17, {'rua': 'Rua Francisco Fernandes Mendes', 'cidade': 'Campinas', 'estado': 'São Paulo'}])
dict_items([('nome', 'Pedro'), ('idade', 17), ('endereco', {'rua': 'Rua Francisco Fernandes Mendes', 'cidade': 'Campinas', 'estado': 'São Paulo'})])

# **Método clear**

In [ ]:
#criando um dicionario
meu_dic = {'a':1,'b':2,'c':3,}

#exibindo o dicionario original
print("Dicionario original:", meu_dic)

#usando o método clear para remover tds os itens
meu_dic.clear()

#exibindo o dicionario depois do clear
print('Dicionario após o clear:', meu_dic)

Dicionario original: {'a': 1, 'b': 2, 'c': 3}
Dicionario após o clear: {}

# **Método del**

In [ ]:
#criando um dicionario
meu_dic = {'a':1,'b':2,'c':3,}

#exibindo o dicionario original
print("Dicionario original:", meu_dic)

#usando o instrução del para remover o item associado á chave 'b'
del meu_dic['b']

#exibindo o dicionario depois da remoção
print('Dicionario após deletar o "b":', meu_dic)

Dicionario original: {'a': 1, 'b': 2, 'c': 3}
Dicionario após deletar o "b": {'a': 1, 'c': 3}

# **Método update**

In [ ]:
#criando um dicionario
dic1 = {'a':1,'b':2}
dic2 = {'b':3,'c':4}
print('Dicionario antes update:', dic1)

dic1.update(dic2)
print('Dicionario após update:', dic1)

Dicionario antes update: {'a': 1, 'b': 2}
Dicionario após update: {'a': 1, 'b': 3, 'c': 4}

# **Link sobre os métodos** [ref_dictionary](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [ ]:
#pratica
informacoes_pessoa = {
    'Nome':'Maria',
    'Idade': 28,
    'Cidade':'São Paulo'
}
nome = informacoes_pessoa['Nome']
idade = informacoes_pessoa['Idade']

print(f"{nome} tem {idade} anos e mora na cidade de {informacoes_pessoa['Cidade']}")

Maria tem 28 anos e mora na cidade de São Paulo

# **mudei usando update mas tem outro jeito em baixo**

In [ ]:
#Criar um dicionario de estoque e att os valores
estoque = {
    'Maçãs': 10,
    'Bananas': 15,
    'Laranjas': 8,
}

produtos_novos = {
    'Maçãs': 3,
    'Bananas': 40
}
print(estoque)

estoque.update(produtos_novos)
print(estoque)

{'Maçãs': 10, 'Bananas': 15, 'Laranjas': 8}
{'Maçãs': 3, 'Bananas': 40, 'Laranjas': 8}

# **outro jeito**

In [ ]:
estoque = {
    'Maçãs': 10,
    'Bananas': 15,
    'Laranjas': 8,
}

estoque['Maçãs'] = 20
estoque['Laranjas'] += 5

print(estoque)

{'Maçãs': 20, 'Bananas': 15, 'Laranjas': 13}

In [ ]:
notas_alunos={'João': 8.5,'Maria': 9.0,'Carlos': 7.2}
removido = notas_alunos.pop('Maria', 'Aluno não encontrado')

print("notas alunos:", notas_alunos)
print(f'aluno removido: {removido}')

notas alunos: {'João': 8.5, 'Carlos': 7.2}
aluno removido: 9.0

# **exercicio - atividade 5**

In [ ]:
dicionario = {'idade': 25, 'nome': 'Ana'}
dicionario['idade'] = 26
print(dicionario)

{'idade': 26, 'nome': 'Ana'}

In [ ]:
dicionario = {'a': 1, 'b': 2, 'c': 3}
dicionario.pop('b')

print(dicionario)

{'a': 1, 'c': 3}

# **Tupla**
tuplas são fixas, e nao aceitam de jeito nenhum add, mudar o nome e deletar

In [ ]:
#criação
frutas = ('banana', 'uva', 'laranja')
print(frutas)
print(type(frutas))

#ver o tamanho dela
len(frutas)

#pegar o primeiro e o ultimo item
print(frutas[0])
print(frutas[-1])

('banana', 'uva', 'laranja')
<class 'tuple'>
banana
laranja

In [ ]:
frutas.append('Maça')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
frutas[-1] = 'Abacaxi'

TypeError: 'tuple' object does not support item assignment

In [ ]:
del frutas[-1]

TypeError: 'tuple' object doesn't support item deletion

# **da pa transformar uma tupla em lista e de lista para tupla**

In [ ]:
minha_lista = [4, 5, 6]
tupla_resultante = tuple(minha_lista)
print(tupla_resultante) #output: (4, 5, 6)
print(type(tupla_resultante))

(4, 5, 6)
<class 'tuple'>

In [ ]:
minha_lista = (4, 5, 6)
tupla_resultante = list(minha_lista)
print(tupla_resultante) #output: [4, 5, 6]
print(type(tupla_resultante))

[4, 5, 6]
<class 'list'>

# **Exemplos de uso de tupla: ** para pegar coordenadas (latitude e longitude)

In [ ]:
coordenadas = (-22.9712, -46.9964)
print(coordenadas)

(-22.9712, -46.9964)

In [ ]:
melhores_animes_do_mundo = ('One Punch', 'Hajime no Ippo', 'Berserk', 69.9, (1,2,3))
print(melhores_animes_do_mundo)
print(type(melhores_animes_do_mundo))

('One Punch', 'Hajime no Ippo', 'Berserk', 69.9, (1, 2, 3))
<class 'tuple'>

exercicio

In [ ]:
fruta = ('maça', 'abacaxi', 'caju')
tuplaC = list(fruta)
tuplaC.append('tomate')
fruta = tuple(tuplaC)
print(fruta)

('maça', 'abacaxi', 'caju', 'tomate')

In [ ]:
aluno = ('maça', 'abacaxi', 'caju')
tuplaC = list(fruta)
tuplaC.append('tomate')
fruta = tuple(tuplaC)
print(fruta)

('maça', 'abacaxi', 'caju', 'tomate', 'tomate')

In [ ]:
notas_aluno = (8.0, 10.0, 4)
notas_convertidas = list(notas_aluno)

notas_aluno = ((8.0 + 10.0 + 4)/3)
print(notas_aluno)

7.333333333333333

In [ ]:
loginU = input("Digite o seu login: ")
senhaU = input("Digite a sua senha: ")
usuario = (loginU, senhaU)
print(usuario)

usuario[1] = '123645'

Digite o seu login: teste@teste.com
Digite a sua senha: teste1234
('teste@teste.com', 'teste1234')

TypeError: 'tuple' object does not support item assignment

Implemente um código em Python que recebe as notas de um aluno em três disciplinas
e armazena essas notas em uma tupla. Em seguida, calcule e imprima a média das
notas.

In [ ]:
nota1 = float(input("Digite sua primeira nota:"))
nota2 = float(input("Digite sua segunda nota:"))
nota3 = float(input("Digite sua terceira nota:"))
notas_aluno = (nota1, nota2, nota3)
mediaNota = sum(notas_aluno) / len(notas_aluno)

#print(round(mediaNota,2))
print(f"resultado: {mediaNota:.2f}")

Digite sua primeira nota:10
Digite sua segunda nota:8
Digite sua terceira nota:4
resultado: 7.33

# **if else**

In [ ]:
4 == 4

True

In [ ]:
'a' == 7

False

In [ ]:
5 == 10/2

True

In [ ]:
5 != 5

False

In [ ]:
'a' != 'a'

False

In [ ]:
10 != 100/10

False

In [ ]:
10 > 10

False

In [ ]:
10 >= 10

True

In [ ]:
11 > 9

True

In [ ]:
'a' > 'b'

False

In [ ]:
'b' > 'a'

True

In [ ]:
'a' < 'b'

True

In [ ]:
10 <= 10

True

In [ ]:
10 < 100

True

# **AND, OR**

In [ ]:
A = 4 == 4
B = 4 > 10

print(A)
print(B)

True
False

In [ ]:
A and B

False

In [ ]:
A = 4 == 4
B = 4 7 10

print(A)
print(B)

In [ ]:
A or B

True

In [ ]:
formG = input("Digite seu genero: (M ou F) ")
formI = int(input("Digite sua idade: "))
if formI >= 18 and formG == 'M':
  print('parabens! conseguiu entrar para o time')
elif formI < 18:
  print('Você é menor de idade, não podemos continuar')
elif formG != 'M':
  print('Você é mulher, só aceitamos do sexo masculino')
else:
  print("Digite as informações corretamente")

Digite seu genero: (M ou F) M
Digite sua idade: 19
parabens! conseguiu entrar para o time

In [ ]:
A = float(input("Digite um numero: "))
B = float(input("Digite outro numero: "))
if A > B:
  print('A é maior que B')
else:
  print('A é menor que B')

Digite um numero: 14
Digite outro numero: 156
A é menor que B

# **NOT**

In [ ]:
print(4 == 4)
print('----------')
print(not 4 == 4)

True
----------
False

In [ ]:
A = float(input("Digite o numero do A: "))
B = float(input("Digite o numero da B: "))

#if (A/B) == 2:
if A == 2*B:
  print('A é duas vezes maior que B')
elif  A > B:
  print('A é +++maior que B')
else:
  print('A é ---menor que B')

Digite o numero do A: 100
Digite o numero da B: 50
A é duas vezes maior que B

In [ ]:
numero = int(input("Digite um numero: "))

if numero % 2 == 0:
  print("O Numero é par")
else:
  print("O Numero é ímpar")

Digite um numero: 123
O Numero é ímpar

In [ ]:
idade = int(input("Digite sua idade: "))
if idade >= 18:
  print('Você é maior de idade.')
else:
  print('Você é menor de idade.')

Digite sua idade: 18
Você é maior de idade.

In [ ]:
nota = float(input("Digite a sua nota de 0 a 10: "))

if nota >= 9:
  print('A')
elif nota >= 7:
  print('B')
elif nota >= 5:
  print('C')
else:
  print('D')

Digite a sua nota de 0 a 10: 15
A

In [ ]:
numero = int(input("digite um numero: "))

if numero > 0:
  print("Numero é positivo")
elif numero < 0:
  print("Numero negativo")
else:
  print("Zero")

digite um numero: 0
Zero

In [ ]:
idade = int(input("Digite sua idade: "))
if idade >= 65:
  print('Idoso')
elif idade >= 18:
  print("Adulto")
else:
  print('Criança/Adolescente')

Digite sua idade: 66
Idoso

In [ ]:
nacionalidade = input("Digite sua nacionalidade (brasileiro, americano, canadense): ")

match nacionalidade:
  case "brasileiro":
    print("Você é do Brasil!")
  case "americano":
    print("Você é do EUA!")
  case "canadense":
    print("Você é do País do Justin Bieber!")
  case _:
    print("Digite uma das três opções!")

Digite sua nacionalidade (brasileiro, americano, canadense): uruguaiano
Digite uma das três opções!

In [ ]:
cor = "vermelho"

match cor:
  case "vermelho" | "azul" | "verde":
    print("É uma cor primária")
  case _:
    print("Cor não reconhecida")

É uma cor primária

In [ ]:
dados = [42, "resposta"]

match dados:
  case [str(numero), int(texto)] if numero == 42 and texto == "resposta":
    print("Encontramos a resposta")
  case _:
    print("Dados diferentes")

Dados diferentes

In [ ]:
'''  5 > 3 and 10 < 20 '''

True

In [ ]:
'''  True and False '''

False

# **Atividade 7 -- 1)**

In [ ]:
salario_func = float(input("Por favor, escreva seu salário atual na empresa: "))
autovaliacao_func = int(input("Em uma escala de 1 a 5, faça sua autoavaliação de desempenho na empresa: "))

if autovaliacao_func == 5:
  resultado = salario_func * 0.2
  print(f"Você recebera um bônus que será de {resultado:.2F}, 20% do seu salário atual.")
elif autovaliacao_func == 4:
  resultado = salario_func * 0.15
  print(f"Você recebera um bônus que será de {resultado:.2F}, 15% do seu salário atual.")
elif autovaliacao_func == 3:
  resultado = salario_func * 0.1
  print(f"Você recebera um bônus que será de {resultado:.2F}, 10% do seu salário atual.")
elif autovaliacao_func == 2:
  resultado = salario_func * 0.05
  print(f"Você recebera um bônus que será de {resultado:.2F}, 5% do seu salário atual.")
elif autovaliacao_func == 1:
  print(f"Você não recebera um bônus no seu salário.")
else:
  print("Digite um numero em uma escala de 1 a 5!!")

Por favor, escreva seu salário atual na empresa: 0
Em uma escala de 1 a 5, faça sua autoavaliação de desempenho na empresa: 0
Digite um numero em uma escala de 1 a 5!!

# **2)**

In [ ]:
numero = float(input("digite um numero: "))

if numero > 0:
  print("Numero é positivo")
elif numero < 0:
  print("Numero negativo")
else:
  print("Zero")

digite um numero: 1562.98
Numero é positivo

# **3)**

In [ ]:
renda_mensal = float(input("Digite sua Renda Mensal: "))
pontuacao_credito = float(input("Digite sua Pontuação de Crédito: "))
inputs = [renda_mensal, pontuacao_credito]
match inputs:
  case [renda, pontuacao] if renda > 5000 and pontuacao >= 700:
    print("Você é um cliente elegível para o empréstimo.")
  case [renda, pontuacao] if renda > 3000 and pontuacao >= 600:
    print("Você é um cliente elegível para o empréstimo, mas com uma taxa de juros mais alta.")
  case _:
    print("Dados insuficientes, cliente não é elegível para o empréstimo")

Digite sua Renda Mensal: 5000
Digite sua Pontuação de Crédito: 600
Você é um cliente elegível para o empréstimo, mas com uma taxa de juros mais alta.

# **For e While**

In [ ]:
%%time
n = int(input("informe o numero para calcular o seu fatorial: "))

resultado = 1
i = 1

while i <= n:
  resultado = resultado * i
  i = i + 1

print("O fatorial de {} é: {}".format(n, resultado))

informe o numero para calcular o seu fatorial: 6
O fatorial de 6 é: 720
CPU times: user 29.3 ms, sys: 3.06 ms, total: 32.3 ms
Wall time: 1.47 s

In [ ]:
%%time
n = 5

i = 1

while i <= n:
  print("Print : {}".format(i))
  i = i + 1

print("O esses são os os numeros de 1 a 5")

Print : 1
Print : 2
Print : 3
Print : 4
Print : 5
O esses são os os numeros de 1 a 5
CPU times: user 2 ms, sys: 1.03 ms, total: 3.03 ms
Wall time: 2.96 ms

# **ou**

In [ ]:
contador = 1
while contador <= 5:
  print(contador)
  contador += contador

1
2
4

In [ ]:
num = int(input("Digite um numero inteiro: "))

contador = 1

while contador <= num:
  impar = num % 2 != 0
  contador += impar

print(contador)

Digite um numero inteiro: 20

KeyboardInterrupt:

faz uma conta de todos os numeros impares dentro do valor inserido. ex: 20 (é 100)

In [ ]:
num = int(input("Digite um numero inteiro: "))
soma_impar = 0
contador = 1

while contador <= num:
  if contador % 2 != 0:
    soma_impar += contador
  contador += 1

print(f'Essa é a soma dos numeros impares de {num}, é {soma_impar}')

Digite um numero inteiro: 20
Essa é a soma dos numeros impares de 20, "é" 100

# **tabuada usando o while**

In [ ]:
num = int(input("Digite um numero de 1 a 10: "))
contador = 1
tabuada = 0

while contador <= 10:
  tabuada = contador * num
  contador += 1
  print(f"{num} X {contador} = {tabuada}")

Digite um numero de 1 a 10: 6
6 X 2 = 6
6 X 3 = 12
6 X 4 = 18
6 X 5 = 24
6 X 6 = 30
6 X 7 = 36
6 X 8 = 42
6 X 9 = 48
6 X 10 = 54
6 X 11 = 60

ex de looping infinito

In [ ]:
result = 1
i = 1
while i <= 100:
  result = result * i
#  i += 1
print(result)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

BREAK. serve para sair da mesma linha do while

In [ ]:
i = 1
result = 1

while i <= 100:
  result *= i
  if i == 42:
    print("Chegou no 42! Parar execução")
    break
  i += 1
print("i:", i)
print("resultado:", result)

Chegou no 42! Parar execução
i: 42
resultado: 1405006117752879898543142606244511569936384000000000

CONTINUE. serve para parar o looping e voltar desde o começo

In [ ]:
i = 1
result = 1

while i <= 20:
  i += 1
  if i % 2 == 0:
    print(f"Pular {i}")
    continue
  print(f"Multiplica com {i}")
  result *= i

print("i:", i)
print("resultado:", result)

Pular 2
Multiplica com 3
Pular 4
Multiplica com 5
Pular 6
Multiplica com 7
Pular 8
Multiplica com 9
Pular 10
Multiplica com 11
Pular 12
Multiplica com 13
Pular 14
Multiplica com 15
Pular 16
Multiplica com 17
Pular 18
Multiplica com 19
Pular 20
Multiplica com 21
i: 21
resultado: 13749310575

desafio

In [ ]:
import random
numero_aleatorio = random.randint(1,5)
contador = 1
tentativa = int(input("Tente a sorte:(de 1 a 5): "))
while tentativa != numero_aleatorio:
  tentativa = int(input("Tente a sorte:(de 1 a 5): "))
  if tentativa == numero_aleatorio:
    print("Parabens!Você acerto e ganhou 1 milhao de reais")
    break

Tente a sorte:(de 1 a 5): 5
Tente a sorte:(de 1 a 5): 4
Tente a sorte:(de 1 a 5): 3
Tente a sorte:(de 1 a 5): 2
Parabens!Você acerto e ganhou 1 milhao de reais

# **ex de for**

In [ ]:
dias = ['segunda', 'terça', 'quarta', 'quinta', 'sexta']

for dia in dias:
  print(dia)

segunda
terça
quarta
quinta
sexta

In [ ]:
#looping sobre a string
for char in 'Segunda ':
  print(char)

S
e
g
u
n
d
a

In [ ]:
for fruta in ('Maçã', 'Banana', 'Uva'):
  print("A fruta:", fruta)

A fruta: Maçã
A fruta: Banana
A fruta: Uva

In [ ]:
#looping sobre dicionario

person1 = {
    'nome': 'Pedro',
    'sexo': 'Masculino',
    'idade': 18,
    'casado': True
}

for key in person1:
  print("Key:", key, " ", "Value:", person1[key])

Key: nome   Value: Pedro
Key: sexo   Value: Masculino
Key: idade   Value: 18
Key: casado   Value: True

In [ ]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(3, 16, 4):
  print(i)

3
7
11
15

In [ ]:
a_list= ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta']

for i in range(len(a_list)):
  print("O Valor na posição {} é {}".format(i, a_list[i]))

O Valor na posição 0 é Segunda
O Valor na posição 1 é Terça
O Valor na posição 2 é Quarta
O Valor na posição 3 é Quinta
O Valor na posição 4 é Sexta

In [ ]:
persons= [{
    'nome': 'Pedro',
    'sexo': 'Masculino'
}, {
    'nome': 'Paola',
    'sexo': 'Feminino'
}]
#Já que existe uma lista com 2 objetos, precisamos criar dois for.

#Esse para pegar os (dois) objetos
for person in persons:
#esse aqui para pegar as chaves de cada objeto
  for key in person:
    print(key, ":", person[key])# aqui ele pega a chave e o valor da chave logo em seguida
  print(" ")#para dar espaço entre os objetos

nome : Pedro
sexo : Masculino

nome : Paola
sexo : Feminino

exercicio

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

# **tabuada usando o for**

In [ ]:
numero = int(input("Digite um numero de 1 a 10: "))

for i in range(1, 11):
  resultado = numero * i
  print(f"{numero} X {i} = {resultado}")

Digite um numero de 1 a 10: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

# **Utilizando for para pegar numeros pares**

In [ ]:
for i in range(101):
  if i % 2 == 0:
    print(i)
#ou
for i in range(0, 100):
  if i % 2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# **para fazer somar numeros pares**

In [ ]:
soma_par = 0
for i in range(101):
  if i % 2 == 0:
    soma_par += i

    #print(i)
print(soma_par)

2550

# **para somar todos**

In [ ]:
soma_par = 0
for i in range(101):
  soma_par += i
  #print(i)
print(soma_par)

5050

# **para imprimir string**

In [ ]:
for letras in "PYTHON":
  print(letras)

P
Y
T
H
O
N

In [ ]:
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pares = 0
for i in numeros:
   if i % 2 == 0:
    pares += 1
    print(i)
print("Existe {} numeros pares dentro dessa lista".format(pares))

0
2
4
6
8
10
Existe 6 numeros pares dentro dessa lista

In [ ]:
notas_alunos = {"João": 8.5, "Maria": 7.2, "Pedro": 9.0}
media = 0
for i in notas_alunos:
  media += notas_alunos[i]
media /= len(notas_alunos)
print("A media dos alunos : {}, é {}.".format(i, media))

A media dos alunos : Pedro, é 8.233333333333333.

In [ ]:
pessoas = {"João": 28, "Maria": 35, "Pedro": 40, "Ana": 25}
acima = []
for i in pessoas:
  if pessoas[i] >= 30:
    acima.append(i)

print(acima)

['Maria', 'Pedro']

def

lambda

# **(LAMBDA) função `*map*` - para fazer ao quadrado**

In [ ]:
numeros = [1, 2, 3, 4, 5]
ao_quadrado = list(map(lambda x: x**2, numeros))
print(ao_quadrado)

[1, 4, 9, 16, 25]

# **(LAMBDA) função `*filter*` - para pegar numeros pares**

In [ ]:
numeros = [1, 2, 3, 4, 5]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)

[2, 4]

# **IMPORTANDO BIBLIOTECA - para realizar a `*raiz quadrada*`**

In [ ]:
from math import sqrt

resultado = sqrt(25)
print(resultado)

5.0

# **COMANDO PARA INSTALAR BIBLIOTECAS**

1.   No google colab:
    !pip install nome_da_biblioteca
2.   No terminal do VS Code:
    pip install nome_da_biblioteca

# **FUNÇÃO DE TRATATIVA DE ERRO - TRY**

In [ ]:
try:
  a = int(input("vamo ver qual numero é divido pelo 100: "))
  print(100 / a)
except:
  print("Informe um numero > 0!!!")

vamo ver qual numero é divido pelo 100: 0
Informe um numero > 0!!!

# **MANIPULAÇÕES DE ARQUIVOS**

In [ ]:
#Abrir o arquivo no modo leitura ('r')
arquivo = open('meu_nome.txt', 'r')

#Ler todo o conteúdo do arquivo
conteudo = arquivo.read()

#Exibir o conteúdo do arquivo
print(conteudo)

#Fechar o arquivo após o uso
  arquivo.close()

Pedro Isac de Souza

**Criando arquivo no código (no pelo)**

In [ ]:
#Abrir o arquivo no modo escrita ('w')
arquivo = open('novo_arquivo.txt', 'w')

#Escrever conteúdo no arquivo
arquivo.write("Olá, este é i, novo arquivo!\n")
arquivo.write("Python é muito chave para manipular arquivos.")

#Abrir o arquivo no modo leitura ('r')
arquivo = open('novo_arquivo.txt', 'r')

#Ler todo o conteúdo do arquivo
conteudo = arquivo.read()

#Exibir o conteúdo do arquivo
print(conteudo)

#Fechar o arquivo
arquivo.close()

Olá, este é i, novo arquivo!
Python é muito chave para manipular arquivos.

# **Renomear o arquivo**

In [ ]:
import os

#Renomear o arquivo 'novo_arquivo.txt' para 'arquivo_renomeado.txt'
os.rename('novo_arquivo.txt', 'arquivo_renomeado.txt')

print("Arquivo renomeado com sucesso!")

Arquivo renomeado com sucesso!

# **Deletar o arquivo**

In [ ]:
import os

#Verificar se o arquivo existe antes de tentar excluí-lo
if os.path.exists('arquivo_renomeado.txt'):
  os.remove('arquivo_renomeado.txt')
  print("Arquivo excluído com sucesso!")
else:
  print("O arquivo não foi encontrado.")

Arquivo excluído com sucesso!

exercicio

In [ ]:
#Abrir o arquivo no modo escrita ('w')
arquivo = open('dados.txt', 'w')

#Escrever conteúdo no arquivo
arquivo.write("Nome: Pedro Isac de Souza\n")
arquivo.write("Idade: 18 anos\n")
arquivo.write("Cidade: Campinas")

#Abrir o arquivo no modo leitura ('r')
arquivo = open('dados.txt', 'r')

#Ler todo o conteúdo do arquivo
conteudo = arquivo.read()

#Exibir o conteúdo do arquivo
print(conteudo)

#Fechar o arquivo
arquivo.close()

Nome: Pedro Isac de Souza
Idade: 18 anos
Cidade: Campinas

exercicio

In [ ]:
import os

#Verificar se o arquivo existe antes de tentar excluí-lo
if os.path.exists('relatorio_2024.txt'):
  os.remove('arquivo_renomeado.txt')
  print("Arquivo excluído com sucesso!")
else:
  print("O arquivo não foi encontrado.")

O arquivo não foi encontrado.

In [ ]:
A = 10
B = 9
X = A + B
print("X = " + str(X))

X = 19

Jogo de adivinhação

In [ ]:
import random
nome = input("Antes de começar, digite seu nome: ")
numero_aleatorio = random.randint(1,5)
contador = 1
tentativas = 0
tentativa = int(input("Tente a sorte:(de 1 a 5): "))
while tentativa != numero_aleatorio:
  tentativa = int(input("Tente a sorte:(de 1 a 5): "))
  tentativas += 1
  if tentativa == numero_aleatorio:
    print("Parabens! Você acerto e ganhou 1 milhao de reais")
    tentativas += 1
    break

#Abrir o arquivo no modo escrita ('w')
arquivo = open('ficha_milionaria.txt', 'w')

#Escrever conteúdo no arquivo
arquivo.write("Nome do ganhador: " + nome + "\n")
arquivo.write("Quantidade de tentativas: " + str(tentativas))

#Abrir o arquivo no modo leitura ('r')
arquivo = open('ficha_milionaria.txt', 'r')

#Ler todo o conteúdo do arquivo
conteudo = arquivo.read()

#Exibir o conteúdo do arquivo
print(conteudo)

#Fechar o arquivo
arquivo.close()

KeyboardInterrupt: Interrupted by user

# **Instalando biblioteca**

In [ ]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (2.0.0)

In [ ]:
from openpyxl import load_workbook

#Caminho do arquivo Excel
arquivo = '/content/Excel_+_Python.xlsx'

#Carregar o arquivo Excel
wb = load_workbook(arquivo)

#Selecionar a planilha ativa (a primeira planilha por padrão)
planilha = wb.active

In [ ]:
dados = []

#Interar por todas as linhas e colunas
for row in planilha.iter_rows():
  dados.append([cell.value for cell in row])

for linha in dados:
  print(dados)

[['julia', 40.0], ['paula', 26.0], ['ana', 18.0]]
[['julia', 40.0], ['paula', 26.0], ['ana', 18.0]]
[['julia', 40.0], ['paula', 26.0], ['ana', 18.0]]

In [ ]:
for i in planilha.iter_rows():
  print(i)

(<Cell 'Página1'.A1>, <Cell 'Página1'.B1>)
(<Cell 'Página1'.A2>, <Cell 'Página1'.B2>)
(<Cell 'Página1'.A3>, <Cell 'Página1'.B3>)

In [ ]:
from openpyxl import Workbook

#Criar uma nova planilha de trabalho (workbook)
wb = Workbook()

#Selecionar a planilha ativa (a primeira planilha por padrão)
planilha = wb.active
planilha.title = "Planilha1" #Você pode dar um nome para a planilha

#Adicionar dados nas células (por exemplo, na primeira linha e coluna)
planilha['A1'] = "Nome"
planilha['B1'] = "Idade"
planilha['C1'] = "Cidade"

#Adicionar mais dados
planilha['A2'] = "João"
planilha['B2'] = 18
planilha['C2'] = "São Paulo"

planilha['A3'] = "Maria"
planilha['B3'] = 24
planilha['C3'] = "Rio de Janeiro"

planilha['A4'] = "Carlos"
planilha['B4'] = 30
planilha['C4'] = "Belo Horizonte"

#Salvar o arquivo Excel
wb.save("novo_arquivo.xlsx")

importando pandas

In [ ]:
import pandas as pd

#Ler o excel
df = pd.read_excel('/content/Excel_+_Python.xlsx')
df

    Nome  Idade
0  paula     26
1    ana     18
2  julia     40

In [ ]:
import pandas as pd

#Criar um DataFrame com os dados
dados = {
    "Nome": ["João", "Kleber", "Gugu"],
    "Idade": [18, 60, 66],
    "Cidade": ["São Paulo", "Rio de Janeiro", "Belo Horizonte"]
}

df = pd.DataFrame(dados)

#Salvar o DataFrame em um arquivo Excel
df.to_excel("Planilha1.xlsx", index = False, sheet_name="Planilha1")

print("Planilha criada com sucesso!!")

Planilha criada com sucesso!!

In [ ]:
import pandas as pd

#Gerar dados
df = pd.DataFrame({
    "Produto": ["Produto A", "Produto B", "Produto C"],
    "Quantidade": [12, 7, 10],
    "Valor Unitário": [15, 20, 12],
    "total": [180, 140, 120],
})

df.to_excel("Semana_2.xlsx", index=False)

In [ ]:
import pandas as pd
import glob
import os

#Caminho onde oos arquivos Excel estão armazenados
caminho = "/content/" #Substitua pelo seu caminho
arquivos = glob.glob(os.path.join(caminho, "*.xlsx"))

#Lista para armazenar os DataFrames individuais
consolidado = []

#Loop pelos arquivos para combinar
for arquivo in arquivos:
  #Carregar o arquivo Excel
  df = pd.read_excel(arquivo)

  #Extrair o nome do arquivo (ex: "semana1.xlsx") para identificar a semana
  nome_arquivo = os.path.basename(arquivo).split('.')[0]
  df["Semana"] = nome_arquivo #Adicionar uma coluna com a identificação da semana

  #Adicionar o DataFrame á lista
  consolidado.append(df)

#Combinar todos os DataFrames em um único
df_completo = pd.concat(consolidado, ignore_index = True)

#Salvar o resultado consolidado em um único arquivo Excel
df_completo.to_excel("Relatorio_Mensal.xlsx", index = False)

print("Relatórios semanais consolidados com sucesso!")

Relatórios semanais consolidados com sucesso!

In [ ]:
df_completo

     Produto  Quantidade  Valor Unitário  total    Semana
0  Produto A          12              15    180  Semana_2
1  Produto B           7              20    140  Semana_2
2  Produto C          10              12    120  Semana_2
3  Produto A          10              15    150  Semana_1
4  Produto B          15              20    100  Semana_1
5  Produto C           8              12     96  Semana_1

# **Enviar e-mail com gmail(ativação dos dois fatores)**

https://support.google.com/accounts/answer/185833?hl=pt-BR

In [ ]:
from google.colab import userdata

In [ ]:
import smtplib
from email.message import EmailMessage

#Defina as informações do e-mail
remetente = userdata.get('email') # Substitua pelo seu e-mail
destinatario = userdata.get('email') # Substitua pelo e-mail do destinatário
senha = userdata.get('senha') # Substitua pela senha do seu e-mail (a senha é o código que o google dá, quando vc habilita dois fatores e cria um usuario)

Código

In [ ]:
#Crie a mensagem aqui
msg = EmailMessage()
msg.set_content('Olá, este é um e-mail enviado via Python!')
msg['Subject'] = 'Assunto do E-mail'
msg['From'] = remetente
msg['To'] = destinatario

# Configuração do servidor SMTP
smtp_server = 'smtp.gmail.com' #Usando o servidor SMTP do Gmail
smtp_port = 587 #Porta de e-mail via TLS

Envio do e-mail

In [ ]:
#Envio do e-mail
try:
  with smtplib.SMTP(smtp_server, smtp_port) as server:
    server.starttls() #Inicia a criptografia TLS
    server.login(remetente, senha) #Realiza o login com seu e-mail e senha
    server.send_message(msg) #Envia a mensagem
    print("E-mail enviado com sucesso!")
except Exception as e:
  print(f"Ocorreu um erro ao enviar o e-mail: {e}")

In [ ]:
raio = float(input(""))
n = 3.14159
area = n * (raio**2)
print(f"A={area:.4f}"))

2.00
A=12.5664

In [ ]:
# -*- coding: utf-8 -*-

A = int(input(""))
B = int(input(""))
SOMA = A + B
print("SOMA = " + str(SOMA))

10
5
SOMA = 15

In [ ]:
a, b, c = map(int, input().split())

maiorAB = (a+b+abs(a - b)) / 2
maior = (maiorAB+c+abs(maiorAB - c)) / 2
print(f'{maior:.0f} eh o maior')

7 14 106
106 eh o maior

In [ ]:
X = int(input())
Y = float(input())
media = float(X) / Y
print(f'{media:.3f} km/l')

500
35.0
14.286 km/l

In [ ]:
import math
x1, y1 = map(float,input().split())
x2, y2 = map(float,input().split())
distancia = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print(f'{distancia:.4f}')

1.0 7.0
5.0 9.0
4.47213595499958

In [ ]:
distancia = int(input())
print(f'{distancia * 2} minutos')

In [ ]:
distancia = int(input())
tempo = (distancia*60) // 30
print(f'{tempo} minutos')