<a href="https://colab.research.google.com/github/PedroIsac564/data_science_aulas/blob/main/dataScienceAulas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(1 + 1)

2

In [ ]:
print(type('!'))

<class 'str'>

In [ ]:
# exemplo de tpagem dinâmica
x = 10 #x é um inteiro
print(x)
print(type(x))

x = "Hello" # x agora é uma string

In [ ]:
#soma de variaveis
a = 10;
b = 5;

print(a + b)

15

In [ ]:
a = promp

In [ ]:
dias = ['Segunda', 'Terça', 'Quarta']
for dia in dias:
  print(dia)

Segunda
Terça
Quarta

In [ ]:
for letra in 'Segunda':
  print(letra)

S
e
g
u
n
d
a

In [ ]:
frutas = ['maça', 'banana', 'uva']
for fruta in frutas:
  print(f"A fruta {fruta}")

A fruta maça
A fruta banana
A fruta uva

In [ ]:
person1 = {
    'nome': 'Pedro Isac',
    'idade': 18,
    'cidadeNasceu': 'Campinas',
    'vivo': True,
}

for key in person1:
  print(f"key: {key}  Value: {person1[key]}")

key: nome  Value: Pedro Isac
key: idade  Value: 18
key: cidadeNasceu  Value: Campinas
key: vivo  Value: True

In [ ]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(3, 10):
  print(i)

3
4
5
6
7
8
9

In [ ]:
for i in range(2, 22,2):
  print(f"a tabuada do 2 é: {i}")

a tabuada do 2 é: 2
a tabuada do 2 é: 4
a tabuada do 2 é: 6
a tabuada do 2 é: 8
a tabuada do 2 é: 10
a tabuada do 2 é: 12
a tabuada do 2 é: 14
a tabuada do 2 é: 16
a tabuada do 2 é: 18
a tabuada do 2 é: 20

In [ ]:
persons = [{
    'nome': 'Pedro Isac',
    'idade': 18,
    'cidadeNasceu': 'Campinas',
    'namorando': True,
},{
    'nome': 'paola',
    'idade': 18,
    'cidadeNasceu': 'Campinas',
    'namorando': True,
}]
for person in persons:
  for key in person:
    print(key, ":", person[key])
  print(" ")

nome : Pedro Isac
idade : 18
cidadeNasceu : Campinas
namorando : True

nome : paola
idade : 18
cidadeNasceu : Campinas
namorando : True

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
numero = int(input("Passe um valor para ver a sua tabuada(1 a 10):"))
print(f"A tabuada de {numero} é")
for i in range(1, 11):
  print(f"{numero} X {i} = {numero*i}")

Passe um valor para ver a sua tabuada(1 a 10):5
A tabuada de 5 é
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
for i in range(0, 101):
  if i % 2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for letra in "PYTHON":
  print(letra)

P
Y
T
H
O
N

desafios

In [ ]:
a = int(input(""))
b = int(input(""))
soma = a + b
print(f"A soma é : 5{soma}")

5
4
A soma é : 59

In [ ]:
qntd = int(input("digite o total de vendas desse mes: "))
total = 0
for i in range(qntd):
  precoP = float(input(f"digite o preço do produto {i + 1} "))
  total = total + precoP
print(f"O total de vendas do dia foi: R${total:.2f}")

digite o total de vendas desse mes: 1
digite o preço do produto 1 2
O total de vendas do dia foi: R$2.00

In [10]:
numero_de_serie = int(input("Digite o número de série de seu computador: "))
if numero_de_serie > 1000 and numero_de_serie < 9999:
    print(f"Esse número '{numero_de_serie}' é válido! Bem vindo ao Windows")
else:
    print(f"Esse número '{numero_de_serie}' não é válido! Insira o número de série válido")

Digite o número de série de seu computador: 3333
Esse número '3333' é válido! Bem vindo ao Windows